<a href="https://colab.research.google.com/github/tusharmaurya267/Python_basic/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## PANDAS

In [1]:
import pandas as pd

### SERIES

In [2]:
# use list as series
series=pd.Series([1,2,3,4,5])
print(series)
type(series)
series1 = pd.Series([])
series2 = pd.Series([1,2,3,4,5], index =(10,20,30,40,50),name = 'natural number')
print(series2)
series2 = pd.Series(['p','q','r','s','t'], index =(10,20,30,40,50))
print(series2)
series3 = pd.Series(1)
print(series3)
series4 = pd.Series(1,index = (1,2,3))
print(series4)

0    1
1    2
2    3
3    4
4    5
dtype: int64
10    1
20    2
30    3
40    4
50    5
Name: natural number, dtype: int64
10    p
20    q
30    r
40    s
50    t
dtype: object
0    1
dtype: int64
1    1
2    1
3    1
dtype: int64

<ipython-input-2-093b92285f4d>:5: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  series1 = pd.Series([])

In [3]:
# use it as a dictionary
series1 = pd.Series({'p':40 , 'q':20 , 'r':30 , 's':10})
print(series1)

print(series1[2])

print(series1[1:3])

print(max(series1))

p    40
q    20
r    30
s    10
dtype: int64
30
q    20
r    30
dtype: int64
40

### DATAFRAME

In [4]:
df=pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [5]:
list1=[1,2,3,4,5]
df=pd.DataFrame(list1)
df

   0
0  1
1  2
2  3
3  4
4  5

In [6]:
list2 = [[1,2,3,4],[5,6,7,8]]
df=pd.DataFrame(list2)
df

   0  1  2  3
0  1  2  3  4
1  5  6  7  8

In [7]:
dict1 = {"name" :['tushar','rohan','shagun','lavita','roy'] , "roll no" : [1,2,3,4,5] , "marks" : [37,48,45,39,42]}
df=pd.DataFrame(dict1)
df

     name  roll no  marks
0  tushar        1     37
1   rohan        2     48
2  shagun        3     45
3  lavita        4     39
4     roy        5     42

In [8]:
dict2 = [{'name' : 'tushar','roll no': 1,'marks' : 37},
 {'name' : 'rohan','roll no': 2,'marks' : 48},
  {'name' : 'shagun','roll no': 3,'marks' : 45},
   {'name' : 'lavita','roll no': 4,'marks' : 39},
    {'name' : 'roy','roll no': 5,'marks' : 42}]
df=pd.DataFrame(dict2)
df

     name  roll no  marks
0  tushar        1     37
1   rohan        2     48
2  shagun        3     45
3  lavita        4     39
4     roy        5     42

### BASICS IN DATASET

In [13]:
from google.colab import files

uploaded = files.upload()

Saving HR_Analytics.csv to HR_Analytics.csv

In [14]:
df=pd.read_csv("HR_Analytics.csv")
df

,EmpID,Age,AgeGroup,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,RM297,18,18-25,Yes,Travel_Rarely,230,Research & Development,3,3,Life Sciences,...,3,80,0,0,2,3,0,0,0,0.0
1,RM302,18,18-25,No,Travel_Rarely,812,Sales,10,3,Medical,...,1,80,0,0,2,3,0,0,0,0.0
2,RM458,18,18-25,Yes,Travel_Frequently,1306,Sales,5,3,Marketing,...,4,80,0,0,3,3,0,0,0,0.0
3,RM728,18,18-25,No,Non-Travel,287,Research & Development,5,2,Life Sciences,...,4,80,0,0,2,3,0,0,0,0.0
4,RM829,18,18-25,Yes,Non-Travel,247,Research & Development,8,1,Medical,...,4,80,0,0,0,3,0,0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1475,RM412,60,55+,No,Travel_Rarely,422,Research & Development,7,3,Life Sciences,...,4,80,0,33,5,1,29,8,11,10.0
1476,RM428,60,55+,No,Travel_Frequently,1499,Sales,28,3,Marketing,...,4,80,0,22,5,4,18,13,13,11.0
1477,RM537,60,55+,No,Travel_Rarely,1179,Sales,16,4,Marketing,...,4,80,0,10,1,3,2,2,2,2.0
1478,RM880,60,55+,No,Travel_Rarely,696,Sales,7,4,Marketing,...,2,80,1,12,3,3,11,7,1,9.0
1479,RM1210,60,55+,No,Travel_Rarely,370,Research & Development,1,4,Medical,...,3,80,1,19,2,4,1,0,0,0.0

In [15]:
print(df.columns)
print(df.shape)
print(df.size)

Index(['EmpID', 'Age', 'AgeGroup', 'Attrition', 'BusinessTravel', 'DailyRate',
       'Department', 'DistanceFromHome', 'Education', 'EducationField',
       'EmployeeCount', 'EmployeeNumber', 'EnvironmentSatisfaction', 'Gender',
       'HourlyRate', 'JobInvolvement', 'JobLevel', 'JobRole',
       'JobSatisfaction', 'MaritalStatus', 'MonthlyIncome', 'SalarySlab',
       'MonthlyRate', 'NumCompaniesWorked', 'Over18', 'OverTime',
       'PercentSalaryHike', 'PerformanceRating', 'RelationshipSatisfaction',
       'StandardHours', 'StockOptionLevel', 'TotalWorkingYears',
       'TrainingTimesLastYear', 'WorkLifeBalance', 'YearsAtCompany',
       'YearsInCurrentRole', 'YearsSinceLastPromotion',
       'YearsWithCurrManager'],
      dtype='object')
(1480, 38)
56240

In [16]:
df.head()

,EmpID,Age,AgeGroup,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,RM297,18,18-25,Yes,Travel_Rarely,230,Research & Development,3,3,Life Sciences,...,3,80,0,0,2,3,0,0,0,0.0
1,RM302,18,18-25,No,Travel_Rarely,812,Sales,10,3,Medical,...,1,80,0,0,2,3,0,0,0,0.0
2,RM458,18,18-25,Yes,Travel_Frequently,1306,Sales,5,3,Marketing,...,4,80,0,0,3,3,0,0,0,0.0
3,RM728,18,18-25,No,Non-Travel,287,Research & Development,5,2,Life Sciences,...,4,80,0,0,2,3,0,0,0,0.0
4,RM829,18,18-25,Yes,Non-Travel,247,Research & Development,8,1,Medical,...,4,80,0,0,0,3,0,0,0,0.0

In [17]:
df.tail()

,EmpID,Age,AgeGroup,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
1475,RM412,60,55+,No,Travel_Rarely,422,Research & Development,7,3,Life Sciences,...,4,80,0,33,5,1,29,8,11,10.0
1476,RM428,60,55+,No,Travel_Frequently,1499,Sales,28,3,Marketing,...,4,80,0,22,5,4,18,13,13,11.0
1477,RM537,60,55+,No,Travel_Rarely,1179,Sales,16,4,Marketing,...,4,80,0,10,1,3,2,2,2,2.0
1478,RM880,60,55+,No,Travel_Rarely,696,Sales,7,4,Marketing,...,2,80,1,12,3,3,11,7,1,9.0
1479,RM1210,60,55+,No,Travel_Rarely,370,Research & Development,1,4,Medical,...,3,80,1,19,2,4,1,0,0,0.0

In [18]:
df.describe()

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
count,1480.000000,1480.000000,1480.000000,1480.000000,1480.0,1480.000000,1480.000000,1480.000000,1480.000000,1480.000000,...,1480.000000,1480.0,1480.000000,1480.000000,1480.000000,1480.000000,1480.000000,1480.000000,1480.000000,1423.000000
mean,36.917568,801.384459,9.220270,2.910811,1.0,1031.860811,2.724324,65.845270,2.729730,2.064865,...,2.708784,80.0,0.791892,11.281757,2.797973,2.760811,7.009459,4.228378,2.182432,4.118060
std,9.128559,403.126988,8.131201,1.023796,0.0,605.955046,1.092579,20.328266,0.713007,1.105574,...,1.081995,0.0,0.850527,7.770870,1.288791,0.707024,6.117945,3.616020,3.219357,3.555484
min,18.000000,102.000000,1.000000,1.000000,1.0,1.000000,1.000000,30.000000,1.000000,1.000000,...,1.000000,80.0,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,30.000000,465.000000,2.000000,2.000000,1.0,493.750000,2.000000,48.000000,2.000000,1.000000,...,2.000000,80.0,0.000000,6.000000,2.000000,2.000000,3.000000,2.000000,0.000000,2.000000
50%,36.000000,800.000000,7.000000,3.000000,1.0,1027.500000,3.000000,66.000000,3.000000,2.000000,...,3.000000,80.0,1.000000,10.000000,3.000000,3.000000,5.000000,3.000000,1.000000,3.000000
75%,43.000000,1157.000000,14.000000,4.000000,1.0,1568.250000,4.000000,83.000000,3.000000,3.000000,...,4.000000,80.0,1.000000,15.000000,3.000000,3.000000,9.000000,7.000000,3.000000,7.000000
max,60.000000,1499.000000,29.000000,5.000000,1.0,2068.000000,4.000000,100.000000,4.000000,5.000000,...,4.000000,80.0,3.000000,40.000000,6.000000,4.000000,40.000000,18.000000,15.000000,17.000000

### Finding and handling null values(by removing or by filling)

In [19]:
df.isnull()

,EmpID,Age,AgeGroup,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1475,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1476,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1477,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1478,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1479,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [20]:
df.isnull().sum()

EmpID                        0
Age                          0
AgeGroup                     0
Attrition                    0
BusinessTravel               0
DailyRate                    0
Department                   0
DistanceFromHome             0
Education                    0
EducationField               0
EmployeeCount                0
EmployeeNumber               0
EnvironmentSatisfaction      0
Gender                       0
HourlyRate                   0
JobInvolvement               0
JobLevel                     0
JobRole                      0
JobSatisfaction              0
MaritalStatus                0
MonthlyIncome                0
SalarySlab                   0
MonthlyRate                  0
NumCompaniesWorked           0
Over18                       0
OverTime                     0
PercentSalaryHike            0
PerformanceRating            0
RelationshipSatisfaction     0
StandardHours                0
StockOptionLevel             0
TotalWorkingYears            0
TrainingTimesLastYear        0
WorkLifeBalance              0
YearsAtCompany               0
YearsInCurrentRole           0
YearsSinceLastPromotion      0
YearsWithCurrManager        57
dtype: int64

In [21]:
df.isnull().sum().sum()

57

In [22]:
df.shape

(1480, 38)

In [23]:
# axis = 0 for rows(optional)
# axis = 1 for columns  
# how="all" for all values are null
# how="any" for any value is null(optional)

df.dropna(axis=0, how='any')

,EmpID,Age,AgeGroup,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,RM297,18,18-25,Yes,Travel_Rarely,230,Research & Development,3,3,Life Sciences,...,3,80,0,0,2,3,0,0,0,0.0
1,RM302,18,18-25,No,Travel_Rarely,812,Sales,10,3,Medical,...,1,80,0,0,2,3,0,0,0,0.0
2,RM458,18,18-25,Yes,Travel_Frequently,1306,Sales,5,3,Marketing,...,4,80,0,0,3,3,0,0,0,0.0
3,RM728,18,18-25,No,Non-Travel,287,Research & Development,5,2,Life Sciences,...,4,80,0,0,2,3,0,0,0,0.0
4,RM829,18,18-25,Yes,Non-Travel,247,Research & Development,8,1,Medical,...,4,80,0,0,0,3,0,0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1475,RM412,60,55+,No,Travel_Rarely,422,Research & Development,7,3,Life Sciences,...,4,80,0,33,5,1,29,8,11,10.0
1476,RM428,60,55+,No,Travel_Frequently,1499,Sales,28,3,Marketing,...,4,80,0,22,5,4,18,13,13,11.0
1477,RM537,60,55+,No,Travel_Rarely,1179,Sales,16,4,Marketing,...,4,80,0,10,1,3,2,2,2,2.0
1478,RM880,60,55+,No,Travel_Rarely,696,Sales,7,4,Marketing,...,2,80,1,12,3,3,11,7,1,9.0
1479,RM1210,60,55+,No,Travel_Rarely,370,Research & Development,1,4,Medical,...,3,80,1,19,2,4,1,0,0,0.0

In [24]:
df.shape

(1480, 38)

In [25]:
df=pd.read_csv("HR_Analytics.csv")
df

,EmpID,Age,AgeGroup,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,RM297,18,18-25,Yes,Travel_Rarely,230,Research & Development,3,3,Life Sciences,...,3,80,0,0,2,3,0,0,0,0.0
1,RM302,18,18-25,No,Travel_Rarely,812,Sales,10,3,Medical,...,1,80,0,0,2,3,0,0,0,0.0
2,RM458,18,18-25,Yes,Travel_Frequently,1306,Sales,5,3,Marketing,...,4,80,0,0,3,3,0,0,0,0.0
3,RM728,18,18-25,No,Non-Travel,287,Research & Development,5,2,Life Sciences,...,4,80,0,0,2,3,0,0,0,0.0
4,RM829,18,18-25,Yes,Non-Travel,247,Research & Development,8,1,Medical,...,4,80,0,0,0,3,0,0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1475,RM412,60,55+,No,Travel_Rarely,422,Research & Development,7,3,Life Sciences,...,4,80,0,33,5,1,29,8,11,10.0
1476,RM428,60,55+,No,Travel_Frequently,1499,Sales,28,3,Marketing,...,4,80,0,22,5,4,18,13,13,11.0
1477,RM537,60,55+,No,Travel_Rarely,1179,Sales,16,4,Marketing,...,4,80,0,10,1,3,2,2,2,2.0
1478,RM880,60,55+,No,Travel_Rarely,696,Sales,7,4,Marketing,...,2,80,1,12,3,3,11,7,1,9.0
1479,RM1210,60,55+,No,Travel_Rarely,370,Research & Development,1,4,Medical,...,3,80,1,19,2,4,1,0,0,0.0

In [33]:
# axis = 0 (optional, as it is by default) 
df.fillna(2)
df.fillna({'Age':23 , 'DailyRate': 500 , 'Attrition':'Yes'})
df.fillna(value=df['Age'].mean())
df.fillna(method='ffill', axis=0)
df.fillna(method='bfill', axis=0)

,EmpID,Age,AgeGroup,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,RM297,18,18-25,Yes,Travel_Rarely,230,Research & Development,3,3,Life Sciences,...,3,80,0,0,2,3,0,0,0,0.0
1,RM302,18,18-25,No,Travel_Rarely,812,Sales,10,3,Medical,...,1,80,0,0,2,3,0,0,0,0.0
2,RM458,18,18-25,Yes,Travel_Frequently,1306,Sales,5,3,Marketing,...,4,80,0,0,3,3,0,0,0,0.0
3,RM728,18,18-25,No,Non-Travel,287,Research & Development,5,2,Life Sciences,...,4,80,0,0,2,3,0,0,0,0.0
4,RM829,18,18-25,Yes,Non-Travel,247,Research & Development,8,1,Medical,...,4,80,0,0,0,3,0,0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1475,RM412,60,55+,No,Travel_Rarely,422,Research & Development,7,3,Life Sciences,...,4,80,0,33,5,1,29,8,11,10.0
1476,RM428,60,55+,No,Travel_Frequently,1499,Sales,28,3,Marketing,...,4,80,0,22,5,4,18,13,13,11.0
1477,RM537,60,55+,No,Travel_Rarely,1179,Sales,16,4,Marketing,...,4,80,0,10,1,3,2,2,2,2.0
1478,RM880,60,55+,No,Travel_Rarely,696,Sales,7,4,Marketing,...,2,80,1,12,3,3,11,7,1,9.0
1479,RM1210,60,55+,No,Travel_Rarely,370,Research & Development,1,4,Medical,...,3,80,1,19,2,4,1,0,0,0.0

In [34]:
df.isnull().sum().sum()

57

### REPLACE VALUES

In [35]:
df.replace(to_replace=30 , value=40)

,EmpID,Age,AgeGroup,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,RM297,18,18-25,Yes,Travel_Rarely,230,Research & Development,3,3,Life Sciences,...,3,80,0,0,2,3,0,0,0,0.0
1,RM302,18,18-25,No,Travel_Rarely,812,Sales,10,3,Medical,...,1,80,0,0,2,3,0,0,0,0.0
2,RM458,18,18-25,Yes,Travel_Frequently,1306,Sales,5,3,Marketing,...,4,80,0,0,3,3,0,0,0,0.0
3,RM728,18,18-25,No,Non-Travel,287,Research & Development,5,2,Life Sciences,...,4,80,0,0,2,3,0,0,0,0.0
4,RM829,18,18-25,Yes,Non-Travel,247,Research & Development,8,1,Medical,...,4,80,0,0,0,3,0,0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1475,RM412,60,55+,No,Travel_Rarely,422,Research & Development,7,3,Life Sciences,...,4,80,0,33,5,1,29,8,11,10.0
1476,RM428,60,55+,No,Travel_Frequently,1499,Sales,28,3,Marketing,...,4,80,0,22,5,4,18,13,13,11.0
1477,RM537,60,55+,No,Travel_Rarely,1179,Sales,16,4,Marketing,...,4,80,0,10,1,3,2,2,2,2.0
1478,RM880,60,55+,No,Travel_Rarely,696,Sales,7,4,Marketing,...,2,80,1,12,3,3,11,7,1,9.0
1479,RM1210,60,55+,No,Travel_Rarely,370,Research & Development,1,4,Medical,...,3,80,1,19,2,4,1,0,0,0.0

In [36]:
df.replace(to_replace=[20,21,22,23,24,25] , value=40)

,EmpID,Age,AgeGroup,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,RM297,18,18-25,Yes,Travel_Rarely,230,Research & Development,3,3,Life Sciences,...,3,80,0,0,2,3,0,0,0,0.0
1,RM302,18,18-25,No,Travel_Rarely,812,Sales,10,3,Medical,...,1,80,0,0,2,3,0,0,0,0.0
2,RM458,18,18-25,Yes,Travel_Frequently,1306,Sales,5,3,Marketing,...,4,80,0,0,3,3,0,0,0,0.0
3,RM728,18,18-25,No,Non-Travel,287,Research & Development,5,2,Life Sciences,...,4,80,0,0,2,3,0,0,0,0.0
4,RM829,18,18-25,Yes,Non-Travel,247,Research & Development,8,1,Medical,...,4,80,0,0,0,3,0,0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1475,RM412,60,55+,No,Travel_Rarely,422,Research & Development,7,3,Life Sciences,...,4,80,0,33,5,1,29,8,11,10.0
1476,RM428,60,55+,No,Travel_Frequently,1499,Sales,28,3,Marketing,...,4,80,0,40,5,4,18,13,13,11.0
1477,RM537,60,55+,No,Travel_Rarely,1179,Sales,16,4,Marketing,...,4,80,0,10,1,3,2,2,2,2.0
1478,RM880,60,55+,No,Travel_Rarely,696,Sales,7,4,Marketing,...,2,80,1,12,3,3,11,7,1,9.0
1479,RM1210,60,55+,No,Travel_Rarely,370,Research & Development,1,4,Medical,...,3,80,1,19,2,4,1,0,0,0.0

In [37]:
df.replace(to_replace=[20,21,22,23],value=['A','B','C','D'])

,EmpID,Age,AgeGroup,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,RM297,18,18-25,Yes,Travel_Rarely,230,Research & Development,3,3,Life Sciences,...,3,80,0,0,2,3,0,0,0,0.0
1,RM302,18,18-25,No,Travel_Rarely,812,Sales,10,3,Medical,...,1,80,0,0,2,3,0,0,0,0.0
2,RM458,18,18-25,Yes,Travel_Frequently,1306,Sales,5,3,Marketing,...,4,80,0,0,3,3,0,0,0,0.0
3,RM728,18,18-25,No,Non-Travel,287,Research & Development,5,2,Life Sciences,...,4,80,0,0,2,3,0,0,0,0.0
4,RM829,18,18-25,Yes,Non-Travel,247,Research & Development,8,1,Medical,...,4,80,0,0,0,3,0,0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1475,RM412,60,55+,No,Travel_Rarely,422,Research & Development,7,3,Life Sciences,...,4,80,0,33,5,1,29,8,11,10.0
1476,RM428,60,55+,No,Travel_Frequently,1499,Sales,28,3,Marketing,...,4,80,0,C,5,4,18,13,13,11.0
1477,RM537,60,55+,No,Travel_Rarely,1179,Sales,16,4,Marketing,...,4,80,0,10,1,3,2,2,2,2.0
1478,RM880,60,55+,No,Travel_Rarely,696,Sales,7,4,Marketing,...,2,80,1,12,3,3,11,7,1,9.0
1479,RM1210,60,55+,No,Travel_Rarely,370,Research & Development,1,4,Medical,...,3,80,1,19,2,4,1,0,0,0.0

In [42]:
df['Age'].replace(to_replace=20, value = 30)

0       18
1       18
2       18
3       18
4       18
        ..
1475    60
1476    60
1477    60
1478    60
1479    60
Name: Age, Length: 1480, dtype: int64

In [39]:
df.replace(to_replace='[A-Za-z]' , value=0 , regex=True)

,EmpID,Age,AgeGroup,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,0,18,18-25,0,0,230,0,3,3,0,...,3,80,0,0,2,3,0,0,0,0.0
1,0,18,18-25,0,0,812,0,10,3,0,...,1,80,0,0,2,3,0,0,0,0.0
2,0,18,18-25,0,0,1306,0,5,3,0,...,4,80,0,0,3,3,0,0,0,0.0
3,0,18,18-25,0,0,287,0,5,2,0,...,4,80,0,0,2,3,0,0,0,0.0
4,0,18,18-25,0,0,247,0,8,1,0,...,4,80,0,0,0,3,0,0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1475,0,60,55+,0,0,422,0,7,3,0,...,4,80,0,33,5,1,29,8,11,10.0
1476,0,60,55+,0,0,1499,0,28,3,0,...,4,80,0,22,5,4,18,13,13,11.0
1477,0,60,55+,0,0,1179,0,16,4,0,...,4,80,0,10,1,3,2,2,2,2.0
1478,0,60,55+,0,0,696,0,7,4,0,...,2,80,1,12,3,3,11,7,1,9.0
1479,0,60,55+,0,0,370,0,1,4,0,...,3,80,1,19,2,4,1,0,0,0.0

In [40]:
df.replace(to_replace=25 , method = 'ffill')

,EmpID,Age,AgeGroup,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,RM297,18,18-25,Yes,Travel_Rarely,230,Research & Development,3,3,Life Sciences,...,3,80,0,0,2,3,0,0,0,0.0
1,RM302,18,18-25,No,Travel_Rarely,812,Sales,10,3,Medical,...,1,80,0,0,2,3,0,0,0,0.0
2,RM458,18,18-25,Yes,Travel_Frequently,1306,Sales,5,3,Marketing,...,4,80,0,0,3,3,0,0,0,0.0
3,RM728,18,18-25,No,Non-Travel,287,Research & Development,5,2,Life Sciences,...,4,80,0,0,2,3,0,0,0,0.0
4,RM829,18,18-25,Yes,Non-Travel,247,Research & Development,8,1,Medical,...,4,80,0,0,0,3,0,0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1475,RM412,60,55+,No,Travel_Rarely,422,Research & Development,7,3,Life Sciences,...,4,80,0,33,5,1,29,8,11,10.0
1476,RM428,60,55+,No,Travel_Frequently,1499,Sales,28,3,Marketing,...,4,80,0,22,5,4,18,13,13,11.0
1477,RM537,60,55+,No,Travel_Rarely,1179,Sales,16,4,Marketing,...,4,80,0,10,1,3,2,2,2,2.0
1478,RM880,60,55+,No,Travel_Rarely,696,Sales,7,4,Marketing,...,2,80,1,12,3,3,11,7,1,9.0
1479,RM1210,60,55+,No,Travel_Rarely,370,Research & Development,1,4,Medical,...,3,80,1,19,2,4,1,0,0,0.0

### LOC: defining index manually
### ILOC: defining index auto(starts from 0)

In [67]:
df=pd.read_csv("HR_Analytics.csv",index_col=['EmpID'])
df

,Age,AgeGroup,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
EmpID,,,,,,,,,,,,,,,,,,,,,
RM297,18,18-25,Yes,Travel_Rarely,230,Research & Development,3,3,Life Sciences,1,...,3,80,0,0,2,3,0,0,0,0.0
RM302,18,18-25,No,Travel_Rarely,812,Sales,10,3,Medical,1,...,1,80,0,0,2,3,0,0,0,0.0
RM458,18,18-25,Yes,Travel_Frequently,1306,Sales,5,3,Marketing,1,...,4,80,0,0,3,3,0,0,0,0.0
RM728,18,18-25,No,Non-Travel,287,Research & Development,5,2,Life Sciences,1,...,4,80,0,0,2,3,0,0,0,0.0
RM829,18,18-25,Yes,Non-Travel,247,Research & Development,8,1,Medical,1,...,4,80,0,0,0,3,0,0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
RM412,60,55+,No,Travel_Rarely,422,Research & Development,7,3,Life Sciences,1,...,4,80,0,33,5,1,29,8,11,10.0
RM428,60,55+,No,Travel_Frequently,1499,Sales,28,3,Marketing,1,...,4,80,0,22,5,4,18,13,13,11.0
RM537,60,55+,No,Travel_Rarely,1179,Sales,16,4,Marketing,1,...,4,80,0,10,1,3,2,2,2,2.0
RM880,60,55+,No,Travel_Rarely,696,Sales,7,4,Marketing,1,...,2,80,1,12,3,3,11,7,1,9.0
RM1210,60,55+,No,Travel_Rarely,370,Research & Development,1,4,Medical,1,...,3,80,1,19,2,4,1,0,0,0.0

In [70]:
df.loc['RM297']

Age                                             18
AgeGroup                                     18-25
Attrition                                      Yes
BusinessTravel                       Travel_Rarely
DailyRate                                      230
Department                  Research & Development
DistanceFromHome                                 3
Education                                        3
EducationField                       Life Sciences
EmployeeCount                                    1
EmployeeNumber                                 405
EnvironmentSatisfaction                          3
Gender                                        Male
HourlyRate                                      54
JobInvolvement                                   3
JobLevel                                         1
JobRole                      Laboratory Technician
JobSatisfaction                                  3
MaritalStatus                               Single
MonthlyIncome                                 1420
SalarySlab                                 Upto 5k
MonthlyRate                                  25233
NumCompaniesWorked                               1
Over18                                           Y
OverTime                                        No
PercentSalaryHike                               13
PerformanceRating                                3
RelationshipSatisfaction                         3
StandardHours                                   80
StockOptionLevel                                 0
TotalWorkingYears                                0
TrainingTimesLastYear                            2
WorkLifeBalance                                  3
YearsAtCompany                                   0
YearsInCurrentRole                               0
YearsSinceLastPromotion                          0
YearsWithCurrManager                           0.0
Name: RM297, dtype: object

In [ ]:
df=pd.read_csv("HR_Analytics.csv")
df

In [49]:
df.loc[3:13]

,EmpID,Age,AgeGroup,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
3,RM728,18,18-25,No,Non-Travel,287,Research & Development,5,2,Life Sciences,...,4,80,0,0,2,3,0,0,0,0.0
4,RM829,18,18-25,Yes,Non-Travel,247,Research & Development,8,1,Medical,...,4,80,0,0,0,3,0,0,0,0.0
5,RM973,18,18-25,No,Non-Travel,1124,Research & Development,1,3,Life Sciences,...,3,80,0,0,5,4,0,0,0,0.0
6,RM1154,18,18-25,Yes,Travel_Frequently,544,Sales,3,2,Medical,...,3,80,0,0,2,4,0,0,0,0.0
7,RM1312,18,18-25,No,Non-Travel,1431,Research & Development,14,3,Medical,...,3,80,0,0,4,1,0,0,0,0.0
8,RM128,19,18-25,Yes,Travel_Rarely,528,Sales,22,1,Marketing,...,4,80,0,0,2,2,0,0,0,0.0
9,RM150,19,18-25,No,Travel_Rarely,1181,Research & Development,3,1,Medical,...,4,80,0,1,3,3,1,0,0,0.0
10,RM172,19,18-25,Yes,Travel_Frequently,602,Sales,1,1,Technical Degree,...,1,80,0,1,5,4,0,0,0,0.0
11,RM178,19,18-25,Yes,Travel_Rarely,303,Research & Development,2,3,Life Sciences,...,3,80,0,1,3,2,1,0,1,0.0
12,RM423,19,18-25,Yes,Travel_Rarely,489,Human Resources,2,2,Technical Degree,...,3,80,0,1,3,4,1,0,0,0.0
13,RM689,19,18-25,Yes,Travel_Rarely,419,Sales,21,3,Other,...,2,80,0,1,3,4,1,0,0,0.0

In [50]:
df.loc[[4,8,10,15]]

,EmpID,Age,AgeGroup,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
4,RM829,18,18-25,Yes,Non-Travel,247,Research & Development,8,1,Medical,...,4,80,0,0,0,3,0,0,0,0.0
8,RM128,19,18-25,Yes,Travel_Rarely,528,Sales,22,1,Marketing,...,4,80,0,0,2,2,0,0,0,0.0
10,RM172,19,18-25,Yes,Travel_Frequently,602,Sales,1,1,Technical Degree,...,1,80,0,1,5,4,0,0,0,0.0
15,RM893,19,18-25,Yes,Non-Travel,504,Research & Development,10,3,Medical,...,2,80,0,1,2,4,1,1,0,0.0

In [64]:
df.loc[df['DailyRate']<200 , ['EmpID','Age']]

       EmpID  Age
21     RM690   20
32     RM371   21
68    RM1239   23
107    RM619   25
108    RM635   25
...      ...  ...
1420   RM746   55
1423   RM915   55
1432  RM1402   55
1452   RM127   58
1469   RM226   59

[105 rows x 2 columns]

### GROUP BY

In [71]:
group_branch = df.groupby(by='Department')
group_branch.groups

In [75]:
group_branch = df.groupby(by=['Department','EducationField'])
group_branch

In [77]:
for group, data_frame in group_branch : 
  print(group)
  print(data_frame)

('Human Resources', 'Human Resources')
        Age AgeGroup Attrition     BusinessTravel  DailyRate       Department  \
EmpID
RM1223   24    18-25       Yes      Travel_Rarely        240  Human Resources
RM1412   25    18-25        No      Travel_Rarely        309  Human Resources
RM1380   27    26-35       Yes  Travel_Frequently       1337  Human Resources
RM1314   29    26-35       Yes      Travel_Rarely        350  Human Resources
RM140    30    26-35        No      Travel_Rarely       1240  Human Resources
RM1247   30    26-35       Yes  Travel_Frequently        600  Human Resources
RM311    31    26-35        No      Travel_Rarely        106  Human Resources
RM1313   31    26-35       Yes      Travel_Rarely        359  Human Resources
RM656    33    26-35        No      Travel_Rarely       1075  Human Resources
RM864    33    26-35        No      Travel_Rarely        147  Human Resources
RM441    34    26-35       Yes  Travel_Frequently        988  Human Resources
RM614    34    26-35        No      Travel_Rarely        829  Human Resources
RM600    36    36-45        No      Travel_Rarely       1041  Human Resources
RM1348   36    36-45        No  Travel_Frequently       1213  Human Resources
RM101    37    36-45       Yes      Travel_Rarely        807  Human Resources
RM827    38    36-45        No      Travel_Rarely        433  Human Resources
RM1108   38    36-45        No  Travel_Frequently        888  Human Resources
RM1290   38    36-45        No         Non-Travel       1336  Human Resources
RM552    39    36-45        No      Travel_Rarely        141  Human Resources
RM536    41    36-45        No      Travel_Rarely        427  Human Resources
RM539    41    36-45        No      Travel_Rarely        314  Human Resources
RM1229   41    36-45        No         Non-Travel        552  Human Resources
RM1000   42    36-45        No      Travel_Rarely       1147  Human Resources
RM1166   44    36-45        No  Travel_Frequently        602  Human Resources
RM113    54    46-55        No         Non-Travel        142  Human Resources
RM1402   55    46-55        No      Travel_Rarely        189  Human Resources
RM106    59      55+        No         Non-Travel       1420  Human Resources

        DistanceFromHome  Education   EducationField  EmployeeCount  ...  \
EmpID                                                                ...
RM1223                22          1  Human Resources              1  ...
RM1412                 2          3  Human Resources              1  ...
RM1380                22          3  Human Resources              1  ...
RM1314                13          3  Human Resources              1  ...
RM140                  9          3  Human Resources              1  ...
RM1247                 8          3  Human Resources              1  ...
RM311                  2          3  Human Resources              1  ...
RM1313                18          5  Human Resources              1  ...
RM656                  3          2  Human Resources              1  ...
RM864                  2          3  Human Resources              1  ...
RM441                 23          3  Human Resources              1  ...
RM614                  3          2  Human Resources              1  ...
RM600                 13          3  Human Resources              1  ...
RM1348                 2          1  Human Resources              1  ...
RM101                  6          4  Human Resources              1  ...
RM827                  1          3  Human Resources              1  ...
RM1108                10          4  Human Resources              1  ...
RM1290                 2          3  Human Resources              1  ...
RM552                  3          3  Human Resources              1  ...
RM536                 10          4  Human Resources              1  ...
RM539                  1          3  Human Resources              1  ...
RM1229                 4          3  Human Resources              1  ...
RM1000                10          3  Human Resources              1  ...
RM1166                 1          5  Human Resources              1  ...
RM113                 26          3  Human Resources              1  ...
RM1402                26          4  Human Resources              1  ...
RM106                  2          4  Human Resources              1  ...

        RelationshipSatisfaction  StandardHours StockOptionLevel  \
EmpID
RM1223                         3             80                1
RM1412                         3             80                0
RM1380                         1             80                0
RM1314                         4             80                3
RM140                          4             80                0
RM1247                         3             80                1
RM311                          4             80                0
RM1313                         3             80                0
RM656                          3             80                1
RM864                          4             80                1
RM441                          3             80                3
RM614                          3             80                1
RM600                          2             80                1
RM1348                         4             80                0
RM101                          4             80                0
RM827                          4             80                1
RM1108                         3             80                0
RM1290                         4             80                3
RM552                          3             80                1
RM536                          2             80                3
RM539                          2             80                1
RM1229                         2             80                1
RM1000                         3             80                1
RM1166                         3             80                0
RM113                          3             80                0
RM1402                         1             80                1
RM106                          4             80                1

        TotalWorkingYears  TrainingTimesLastYear  WorkLifeBalance  \
EmpID
RM1223                  1                      2                3
RM1412                  6                      3                3
RM1380                  1                      2                3
RM1314                  4                      3                3
RM140                  12                      2                1
RM1247                  6                      0                2
RM311                   9                      1                3
RM1313                  2                      4                3
RM656                   7                      4                4
RM864                   5                      2                3
RM441                  11                      2                3
RM614                   4                      1                1
RM600                   8                      2                3
RM1348                 10                      2                2
RM101                   7                      3                3
RM827                   7                      2                4
RM1108                 10                      2                3
RM1290                 13                      3                3
RM552                  12                      3                1
RM536                  23                      2                2
RM539                  22                      3                3
RM1229                 10                      4                3
RM1000                 21                      5                3
RM1166                 14                      3                3
RM113                  23                      3                3
RM1402                 35                      0                3
RM106                  30                      3                3

       YearsAtCompany  YearsInCurrentRole YearsSinceLastPromotion  \
EmpID
RM1223              1                   0                       0
RM1412              2                   0                       1
RM1380              1                   0                       0
RM1314              2                   2                       2
RM140              11                   9                       4
RM1247              4                   2                       1
RM311               2                   2                       1
RM1313              1                   0                       0
RM656               4                   3                       0
RM864               5                   4                       1
RM441               3                   2                       0
RM614               3                   2                       0
RM600               5                   2                       0
RM1348             10                   1                       0
RM101               3                   2                       0
RM827               7                   6                       5
RM1108              6                   3                       1
RM1290             11                  10                       3
RM552               8                   3                       3
RM536              21                   6                      12
RM539              22                   7                       2
RM1229              3                   2                       1
RM1000             20                   7                       0
RM1166             10                   7                       0
RM113               5                   3                       4
RM1402             10                   9                       1
RM106               3                   2                       2

        YearsWithCurrManager
EmpID
RM1223                   0.0
RM1412                   2.0
RM1380                   0.0
RM1314                   0.0
RM140                    NaN
RM1247                   2.0
RM311                    0.0
RM1313                   0.0
RM656                    3.0
RM864                    4.0
RM441                    2.0
RM614                    2.0
RM600                    4.0
RM1348                   8.0
RM101                    2.0
RM827                    0.0
RM1108                   2.0
RM1290                   8.0
RM552                    6.0
RM536                    6.0
RM539                   10.0
RM1229                   2.0
RM1000                   9.0
RM1166                   2.0
RM113                    4.0
RM1402                   4.0
RM106                    2.0

[27 rows x 37 columns]
('Human Resources', 'Life Sciences')
        Age AgeGroup Attrition     BusinessTravel  DailyRate       Department  \
EmpID
RM135    26    26-35        No      Travel_Rarely       1355  Human Resources
RM454    26    26-35       Yes  Travel_Frequently        426  Human Resources
RM1324   28    26-35        No         Non-Travel        280  Human Resources
RM1065   30    26-35        No      Travel_Rarely        330  Human Resources
RM924    34    26-35        No  Travel_Frequently        648  Human Resources
RM1451   35    26-35        No      Travel_Rarely       1146  Human Resources
RM634    36    36-45        No      Travel_Rarely       1278  Human Resources
RM655    39    36-45        No      Travel_Rarely       1383  Human Resources
RM1270   43    36-45        No      Travel_Rarely        244  Human Resources
RM494    44    36-45        No      Travel_Rarely       1112  Human Resources
RM1201   44    36-45        No      Travel_Rarely        528  Human Resources
RM1244   45    36-45        No      Travel_Rarely        176  Human Resources
RM944    46    46-55        No      Travel_Rarely        991  Human Resources
RM1155   47    46-55        No      Travel_Rarely       1176  Human Resources
RM963    51    46-55        No      Travel_Rarely        770  Human Resources
RM957    56      55+        No      Travel_Rarely        206  Human Resources

        DistanceFromHome  Education EducationField  EmployeeCount  ...  \
EmpID                                                              ...
RM135                 25          1  Life Sciences              1  ...
RM454                 17          4  Life Sciences              1  ...
RM1324                 1          2  Life Sciences              1  ...
RM1065                 1          3  Life Sciences              1  ...
RM924                 11          3  Life Sciences              1  ...
RM1451                26          4  Life Sciences              1  ...
RM634                  8          3  Life Sciences              1  ...
RM655                  2          3  Life Sciences              1  ...
RM1270                 2          3  Life Sciences              1  ...
RM494                  1          4  Life Sciences              1  ...
RM1201                 1          3  Life Sciences              1  ...
RM1244                 4          3  Life Sciences              1  ...
RM944                  1          2  Life Sciences              1  ...
RM1155                26          4  Life Sciences              1  ...
RM963                  5          3  Life Sciences              1  ...
RM957                  8          4  Life Sciences              1  ...

        RelationshipSatisfaction  StandardHours StockOptionLevel  \
EmpID
RM135                          4             80                1
RM454                          2             80                1
RM1324                         2             80                1
RM1065                         1             80                1
RM924                          4             80                2
RM1451                         3             80                0
RM634                          3             80                0
RM655                          3             80                2
RM1270                         2             80                0
RM494                          2             80                0
RM1201                         1             80                3
RM1244                         3             80                2
RM944                          3             80                0
RM1155                         3             80                1
RM963                          2             80                1
RM957                          1             80                0

        TotalWorkingYears  TrainingTimesLastYear  WorkLifeBalance  \
EmpID
RM135                   8                      3                3
RM454                   8                      2                2
RM1324                  3                      2                3
RM1065                  6                      3                4
RM924                  14                      5                4
RM1451                  9                      2                3
RM634                   6                      3                3
RM655                  13                      2                3
RM1270                 10                      5                3
RM494                  10                      1                4
RM1201                  8                      2                3
RM1244                  9                      2                4
RM944                  10                      3                4
RM1155                 27                      2                3
RM963                  33                      2                3
RM957                  36                      4                3

       YearsAtCompany  YearsInCurrentRole YearsSinceLastPromotion  \
EmpID
RM135               8                   7                       5
RM454               7                   7                       1
RM1324              3                   2                       2
RM1065              5                   3                       1
RM924              10                   9                       1
RM1451              9                   0                       1
RM634               5                   4                       0
RM655               5                   4                       0
RM1270              9                   7                       1
RM494               2                   2                       0
RM1201              2                   2                       2
RM1244              5                   0                       0
RM944               7                   6                       5
RM1155              5                   2                       1
RM963              33                   9                       0
RM957               7                   3                       7

        YearsWithCurrManager
EmpID
RM135                    7.0
RM454                    0.0
RM1324                   2.0
RM1065                   3.0
RM924                    8.0
RM1451                   7.0
RM634                    3.0
RM655                    4.0
RM1270                   8.0
RM494                    2.0
RM1201                   2.0
RM1244                   3.0
RM944                    7.0
RM1155                   0.0
RM963                   10.0
RM957                    7.0

[16 rows x 37 columns]
('Human Resources', 'Medical')
        Age AgeGroup Attrition     BusinessTravel  DailyRate       Department  \
EmpID
RM1246   24    18-25        No  Travel_Frequently        897  Human Resources
RM1298   26    26-35       Yes      Travel_Rarely        920  Human Resources
RM630    28    26-35        No      Travel_Rarely       1169  Human Resources
RM1330   29    26-35        No       TravelRarely        352  Human Resources
RM1036   31    26-35        No      Travel_Rarely       1398  Human Resources
RM1097   40    36-45        No      Travel_Rarely        898  Human Resources
RM879    42    36-45        No         Non-Travel        179  Human Resources
RM790    44    36-45       Yes      Travel_Rarely       1376  Human Resources
RM760    45    36-45        No      Travel_Rarely        788  Human Resources
RM080    46    46-55        No      Travel_Rarely        945  Human Resources
RM478    50    46-55        No  Travel_Frequently       1246  Human Resources
RM511    54    46-55        No      Travel_Rarely        397  Human Resources
RM233    59      55+        No      Travel_Rarely        818  Human Resources

        DistanceFromHome  Education EducationField  EmployeeCount  ...  \
EmpID                                                              ...
RM1246                10          3        Medical              1  ...
RM1298                20          2        Medical              1  ...
RM630                  8          2        Medical              1  ...
RM1330                 6          1        Medical              1  ...
RM1036                 8          2        Medical              1  ...
RM1097                 6          2        Medical              1  ...
RM879                  2          5        Medical              1  ...
RM790                  1          2        Medical              1  ...
RM760                 24          4        Medical              1  ...
RM080                  5          2        Medical              1  ...
RM478                  3          3        Medical              1  ...
RM511                 19          4        Medical              1  ...
RM233                  6          2        Medical              1  ...

        RelationshipSatisfaction  StandardHours StockOptionLevel  \
EmpID
RM1246                         4             80                1
RM1298                         3             80                0
RM630                          4             80                1
RM1330                         4             80                0
RM1036                         4             80                0
RM1097                         4             80                0

### MERGE

In [83]:
df1 = pd.DataFrame({'Rollno' : [1,2,3,4,5] , 'Maths': [48,39,43,45,47]})
df2 = pd.DataFrame({'Rollno' : [1,2,4,6,8] , 'Chemistry': [35,42,43,45,47]})
df2

   Rollno  Chemistry
0       1         35
1       2         42
2       4         43
3       6         45
4       8         47

In [90]:
df = pd.merge(df1,df2,on='Rollno')
df

   Rollno  Maths  Chemistry
0       1     48         35
1       2     39         42
2       4     45         43

In [91]:
df = pd.merge(df1,df2,how='inner')
df

   Rollno  Maths  Chemistry
0       1     48         35
1       2     39         42
2       4     45         43

In [86]:
df = pd.merge(df1,df2,how='left')
df

   Rollno  Maths  Chemistry
0       1     48       35.0
1       2     39       42.0
2       3     43        NaN
3       4     45       43.0
4       5     47        NaN

In [96]:
df = pd.merge(df1,df2,how='right',sort=True)
df

   Rollno  Maths  Chemistry
0       1   48.0         35
1       2   39.0         42
2       4   45.0         43
3       6    NaN         45
4       8    NaN         47

### APPEND FUNCTION(SIMILAR TO MERGE)

In [97]:
df1 = pd.DataFrame({'Rollno' : [1,2,3,4,5] , 'Maths': [48,39,43,45,47] , 'Physics' : [42,47,37,39,41]})
df2 = pd.DataFrame({'Rollno' : [1,2,4,6,8] , 'Chemistry': [35,42,43,45,47] , 'Physics' : [47,44,32,38,43]})

In [98]:
df1.append(df2)

<ipython-input-98-8ab0723181fb>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df1.append(df2)

   Rollno  Maths  Physics  Chemistry
0       1   48.0       42        NaN
1       2   39.0       47        NaN
2       3   43.0       37        NaN
3       4   45.0       39        NaN
4       5   47.0       41        NaN
0       1    NaN       47       35.0
1       2    NaN       44       42.0
2       4    NaN       32       43.0
3       6    NaN       38       45.0
4       8    NaN       43       47.0

In [100]:
df1.append(df2 , ignore_index = True , sort=True)

<ipython-input-100-d0074d535ace>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df1.append(df2 , ignore_index = True , sort=True)

   Chemistry  Maths  Physics  Rollno
0        NaN   48.0       42       1
1        NaN   39.0       47       2
2        NaN   43.0       37       3
3        NaN   45.0       39       4
4        NaN   47.0       41       5
5       35.0    NaN       47       1
6       42.0    NaN       44       2
7       43.0    NaN       32       4
8       45.0    NaN       38       6
9       47.0    NaN       43       8

### PIVOT TABLE

In [102]:
pd.pivot_table(df,index='Department')

KeyError: ignored

In [101]:
pd.pivot_table(df,index='Department',aggfunc='SUM')

KeyError: ignored