<a href="https://colab.research.google.com/github/tusharmaurya267/Python_basic/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## PANDAS

In [3]:
import pandas as pd

### SERIES

In [10]:
# use list as series
series=pd.Series([1,2,3,4,5])
print(series)
type(series)

0    1
1    2
2    3
3    4
4    5
dtype: int64

pandas.core.series.Series

In [5]:
series1 = pd.Series([])

<ipython-input-5-f2247881b038>:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  series1=pd.Series([])

In [11]:
series2 = pd.Series([1,2,3,4,5], index =(10,20,30,40,50),name = 'natural number')
print(series2)

10    1
20    2
30    3
40    4
50    5
Name: natural number, dtype: int64

In [12]:
series2 = pd.Series(['p','q','r','s','t'], index =(10,20,30,40,50))
print(series2)

10    p
20    q
30    r
40    s
50    t
dtype: object

In [9]:
series3 = pd.Series(1)
print(series3)

0    1
dtype: int64

In [12]:
series4 = pd.Series(1,index = (1,2,3))
print(series4)

1    1
2    1
3    1
dtype: int64

In [9]:
# use it as a dictionary
series1 = pd.Series({'p':40 , 'q':20 , 'r':30 , 's':10})
print(series1)

print(series1[2])

print(series1[1:3])

print(max(series1))

p    40
q    20
r    30
s    10
dtype: int64
30
q    20
r    30
dtype: int64
40

### DATAFRAME

In [14]:
df=pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [18]:
list1=[1,2,3,4,5]
df=pd.DataFrame(list1)
df

   0
0  1
1  2
2  3
3  4
4  5